header {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.nav-ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-li {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
}

.nav-li > a {
    color: white;
}

.nav-li > a:active, .nav-li > a:focus {
    color: #80BBE6;
}

.login-button {
    border: none;
    background-color: inherit;
    margin-right: 15px;
    margin-bottom: 4px;
    color: #213547;
    padding: 0;
}

.login-button:focus,
.login-button:focus-visible,
.login-button:hover {
    outline: none;
    background-color: inherit;
    margin-right: 15px;
    margin-bottom: 4px;
    padding: 0;
}

@media (min-width: 961px) {
    header {
        gap: 30px;
    }

    .nav-ul {
        gap: 25px;
    }
}