#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1; /* Main content takes up remaining space */
  padding: 20px;
  height: auto;
  overflow: scroll;
  background-color: #ebd0cd;
}
