/* COLOR PALETTE (WILL BE USED)
    #223030
    #523d35
    #959d90
    #bba5bf
    #ebd0cd
*/

/* COLOR PALETTE
  #EFF3FF
  #C6DBEF
  #9ECAE1
  #6BAED6
  #4294C6
  #2171B6
  #084594
*/

:root {
  background-color: #003073;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #1a1a1a;
  font-size: 30px;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h3 {
  color: #1a1a1a;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

h4 {
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

h5 {
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h6 {
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

p {
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
}


a {
  color: #223030;
  font-weight: 700;
  text-decoration: inherit;
}
a:focus {
  color: #223030;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  font-size: 0.9em;
  font-weight: 700;
  font-family: inherit;
  background-color: #003580;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms;
}

button:hover {
  background-color: #fff;
  color: #003580;
  outline: 1px auto #003580;
}

button:focus,
button:focus-visible {
  outline: 1px auto #003580;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
