.flight-detail-airports {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flight-detail-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flight-detail {
    display: flex;
    flex-direction: column;
    margin: 5px 13px 8px 13px;
}

.flight-detail-title, .flight-detail-info {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: start;
}

.flight-detail-title-right, .flight-detail-info-right {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: end;
}

.flight-detail-title, .flight-detail-title-right {
    color: #213547;
}

.flight-detail-info, .flight-detail-info-right {
    font-weight: normal;
}