.airport-dropdown-filter, .airport-dropdown-filter-hidden {
    margin: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.airport-dropdown-filter-hidden {
    display: none;
}

.region-dropdown, .airport-dropdown, .country-dropdown {
    width: 70%;
}